* {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}

nav {
  background-color: #3b3a3a;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 60%;
      grid-template-columns: 30% 60%;
  -webkit-column-gap: 10%;
          column-gap: 10%;
  padding: 0% 5%;
}

nav .array-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

nav .array-size {
  display: flex;
  justify-content: center;
}

nav .array-size button {
  padding: 8px 16px;
  margin: 5px 10px;
  font-size: 16px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

nav .array-type button:focus {
  outline: none;
  border-color: none;
}

nav .array-type {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav .array-type button {
  padding: 8px 16px;
  margin: 5px 10px;
  font-size: 16px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  width: 100%;
  max-width: 180px;
}

nav .array-size button:focus {
  outline: none;
  border-color: none;
}

nav .array-size .highlighted{
  background-color: blue;
}

nav .array-inputs p {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 0% 0% 3% 0%;
}

nav .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

nav .header-right .nav-heading {
  display: inline-block;
  font-size: xxx-large;
  padding: 3% 0%;
}

nav .header-right .algos button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  padding: 3% 3%;
  font-size: x-large;
}

nav .header-right .algos button:hover {
  background-color: blue;
  cursor: pointer;
}

nav .header-right .algos .butt_locked {
  background-color: transparent;
  cursor: pointer;
}

nav .header-right .algos .butt_locked:hover {
  background-color: transparent;
  cursor: pointer;
}

nav .header-right .algos .butt_selected {
  background-color: white;
  color: green;
}

nav .header-right .algos .butt_selected:hover {
  background-color: white;
  cursor: pointer;
}

nav .header-right .algos .butt_unselected:hover {
  background-color: blue;
  cursor: pointer;
}

section {
  display: -ms-grid;
  display: grid;
}

section #array_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.hide {
  display: none;
}
